@page "/fetchdata"
@using BlazingApple.Twitter.Components
@using BlazingAppleConsumer.Twitter.Shared

<PageTitle>Predetermined Twitter List</PageTitle>

Twitter List for <code>ourgovus</code> (<a href="twitter.com/ourgovus">link</a>):
<div id="ba-twitter-timeline" class="twitter-timeline" href="https://twitter.com/ourgovus/lists/ourgov-wisconsin?ref_src=twsrc%5Etfw">A Twitter List by ourgovus</div>

<TweetList TimelineType="@TimelineType.Profile" TwitterId="ourgovus" />